.glyphicon-arrow-up:before {
  content: "\25b2";
}
.glyphicon-arrow-down:before {
  content: "\25bc";
}
.glyphicon-chevron-up:before {
  content: "\25b2";
}
.glyphicon-chevron-down:before {
  content: "\25bc";
}
